---
export const prerender = true;
import { ExternalLink } from "@lucide/astro";

import { PUBLIC_DIRECTUS_URL } from "astro:env/client";

import PageHeader from "@ui/PageHeader.astro";
import Container from "@ui/Container.astro";
import Sidenav from "@ui/Sidenav.astro";
import Section from "@ui/Section.astro";
import SectionHeader from "@ui/SectionHeader.astro";
import { getGroups } from "@lib/directus/queries";
import Markdown from "@ui/Markdown.astro";
import MainLayout from "@layouts/MainLayout.astro";
import ImageBlock from "@ui/ImageBlock.astro";

const groups = await getGroups();

const nav = groups.map((group) => ({
  href: `#${group.short_name}`,
  label: group.name,
}));
---

<MainLayout>
  <PageHeader
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "Area and Community", href: "/area" },
    ]}
    title="Community Groups"
  />

  <Container classes="mb-20 lg:grid grid-cols-4 gap-20">
    <div class="relative">
      <Sidenav items={nav} />
    </div>

    <div class="col-span-3">
      {
        groups.map((group) => (
          <Section class="flex gap-8 flex-col md:flex-row items-start">
            <article>
              <SectionHeader id={group.short_name}>
                {group.name} ({group.short_name})
              </SectionHeader>
              <div>
                <Markdown children={group.description} />
                {group.content && <Markdown children={group.content} />}
                <a
                  class="nc-link nc-focus"
                  target="_blank"
                  rel="noreferrer noopener"
                  href={group.website}
                >
                  {new URL(group.website).hostname}
                  <ExternalLink class="inline ml-1.5" size={16} />
                </a>
              </div>
            </article>
            {group.image && (
              <img
                alt={group.short_name}
                width={180}
                height="auto"
                class="h-auto"
                src={`${PUBLIC_DIRECTUS_URL}/assets/${group.image}`}
              />
            )}
          </Section>
        ))
      }
    </div>
  </Container>

  <ImageBlock src="/27171_032.jpg" caption="© Historic England" />
</MainLayout>
