---
import MainLayout from "@layouts/MainLayout.astro";
import {
  getPosts,
  getArticles,
  getGroups,
  getEvents,
} from "@lib/directus/queries";
import Container from "@ui/Container.astro";
import SectionHeader from "@ui/SectionHeader.astro";
import PostList from "@ui/PostList.astro";
import ArticleList from "@ui/ArticleList.astro";
import List from "@ui/List.astro";
import EventList from "@ui/EventList.astro";
import ImageBlock from "@ui/ImageBlock.astro";
import LinkCards from "@ui/LinkCards.astro";
import Section from "../components/ui/Section.astro";

const posts = await getPosts("newsmail");
const articles = await getArticles();
const groups = await getGroups();
const events = await getEvents();

const groupList = groups.map((group) => ({
  key: group.short_name,
  label: group.name,
  href: group.website,
  // subtitle: group.description,
  image: group.image,
}));

const eventList = events.map((event) => ({
  key: event.id,
  label: event.name,
  href: `/area/events/${event.id}`,
  date: event.start,
  subtitle: `${event.category} - ${event.location}`
    .replaceAll("_", " ")
    .toUpperCase(),
}));

const mainCards = [
  {
    heading: "Our Association",
    message: "Read about our mission, structure and committee.",
    href: "/association",
  },
  {
    heading: "The Local Area",
    message: "Learn about the exciting history, and why we're unique.",
    href: "/area",
  },
  {
    heading: "Resources",
    message: "Find useful information and links for residents.",
    href: "/resources",
  },
  {
    heading: "Membership",
    message: "Find our about our meetings, how to join and get involved.",
    href: "/membership",
  },
];
---

<MainLayout>
  <ImageBlock margin={false} caption="© Historic England" />
  <Container classes="flex flex-col mb-10">
    <Section margin={false} class="-mt-5 z-10">
      <LinkCards cards={mainCards} />
    </Section>
    <Section>
      <SectionHeader id="news">Latest News</SectionHeader>
      <PostList grid={4} posts={posts} />
    </Section>
    <Section>
      <SectionHeader id="news">Recent Articles</SectionHeader>
      <ArticleList grid={2} vertical={false} articles={articles} />
    </Section>
    <Section>
      <SectionHeader id="events">Upcoming Events</SectionHeader>
      <EventList items={eventList} />
    </Section>
    <Section>
      <SectionHeader id="groups">Local Groups</SectionHeader>
      <List
        vertical
        grid={6}
        items={groupList}
        imageKey="medium-thumbnail-inside"
      />
    </Section>
  </Container>
</MainLayout>
