---
export const prerender = true;

import { officerRoles, tabsAssociation } from "../../const";

import PageHeader from "@ui/PageHeader.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Container from "@ui/Container.astro";
import Section from "@ui/Section.astro";
import SectionHeader from "@ui/SectionHeader.astro";
import Markdown from "@ui/Markdown.astro";
import List from "@ui/List.astro";
import Sidenav from "@ui/Sidenav.astro";
import { getAssociation, getCommittee } from "@lib/directus/queries";

const headings: { [key: string]: { title: string; id: string } } = {
  HowItWorks: {
    title: "How it works",
    id: "How it works".toLowerCase().replaceAll(" ", "-"),
  },
  AimsObjectives: {
    title: "Aims and Objectives",
    id: "Aims and Objectives".toLowerCase().replaceAll(" ", "-"),
  },
  HowToHelp: {
    title: "How to help",
    id: "How to help".toLowerCase().replaceAll(" ", "-"),
  },
  ExecutiveCommittee: {
    title: "Committee",
    id: "Executive Committee".toLowerCase().replaceAll(" ", "-"),
  },
};

const sideNavItems: { href: string; label: string }[] = Object.keys(
  headings,
).map((k) => ({
  href: `#${headings[k].id}`,
  label: headings[k].title,
}));

const association = await getAssociation();
const committee = await getCommittee();
// meta={[
// {
//   label: "Founded",
//     value: new Date(association.founded).toDateString(),
// },
// ]}

const officers = committee.filter((m) => officerRoles.includes(m.position));
const nonofficers = committee.filter((m) => !officerRoles.includes(m.position));
const founded = `Founded ${new Date(association.founded).toDateString()}`;
---

<MainLayout
  seo={{
    title: "NCRA",
    description:
      "The NCRA is a community association dedicated to preserving and enhancing the unique character of our area.",
  }}
>
  <PageHeader title="Association" subtitle={founded} tabs={tabsAssociation} />

  <figure
    class={`bg-[url(/27171_032.jpg)] bg-cover relative min-h-[50vh] flex items-center`}
  >
    <Container classes="py-20">
      <div
        class="text-3xl md:text-4xl md:w-xl from-sky-800 to-sky-600/10 bg-linear-to-bl/oklab backdrop-blur-xs backdrop-saturate-150 rounded-md py-6"
      >
        <div class="border-l-4 border-gray-200 text-gray-200 px-4 lg:ml-10">
          &ldquo;{association.mission_statement}&rdquo;
        </div>
      </div>
    </Container>
  </figure>

  <Container classes="mb-20 lg:grid grid-cols-4 gap-20">
    <aside class="relative">
      <Sidenav items={sideNavItems} />
    </aside>

    <div class="col-span-3">
      <Section>
        <SectionHeader id={headings.HowItWorks.id}>
          {headings.HowItWorks.title}
        </SectionHeader>
        <div class="py-2"></div>
        <Markdown children={association.how_it_works} />
      </Section>

      <Section>
        <SectionHeader id={headings.AimsObjectives.id}>
          {headings.AimsObjectives.title}
        </SectionHeader>
        <div class="py-2"></div>
        <Markdown children={association.aims_and_objectives} />
      </Section>

      <Section>
        <SectionHeader id={headings.HowToHelp.id}>
          {headings.HowToHelp.title}
        </SectionHeader>
        <div class="py-2"></div>
        <Markdown children={association.how_to_help} />
      </Section>

      <Section>
        <SectionHeader id={headings.ExecutiveCommittee.id}>
          {headings.ExecutiveCommittee.title}
        </SectionHeader>
        <div class="flex flex-col gap-5">
          <div class="mt-4">
            <h5
              class="cursor-help underline decoration-dotted underline-offset-4 decoration-1"
              title="Elected roles defined in the Constitution"
            >
              Officers
            </h5>
            <List
              items={officers.map((member) => ({
                key: member.id,
                label: member.name,
                subtitle: member.position,
              }))}
            />
          </div>
          <div class="mt-4">
            <h5
              class="cursor-help underline decoration-dotted underline-offset-4 decoration-1"
              title="Elected members supporting various tasks and
              projects."
            >
              Committee Members
            </h5>
            <List
              items={nonofficers.map((member) => ({
                key: member.id,
                label: member.name,
                subtitle: member.position,
              }))}
            />
          </div>
        </div>
      </Section>
    </div>
  </Container>

  <figure class="h-96 bg-[url(/27171_032.jpg)] bg-cover bg-center relative">
    <figcaption
      class="absolute bottom-0 right-0 bg-black text-white px-2 py-1 text-xs opacity-60"
    >
      © Historic England
    </figcaption>
  </figure>
</MainLayout>
