---
export const prerender = true;
import { PUBLIC_DIRECTUS_URL } from "astro:env/client";

import Container from "@ui/Container.astro";
import PageHeader from "@ui/PageHeader.astro";
import Markdown from "@ui/Markdown.astro";
import MainLayout from "@layouts/MainLayout.astro";

import { createDirectusClient } from "@lib/directus";
import { readItems } from "@directus/sdk";
import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";

export async function getStaticPaths() {
  const directus = createDirectusClient();
  const posts = await directus.request(
    readItems("posts", {
      fields: ["slug", "date", "type", "title", "content", "topics", "image"],
    }),
  );

  return posts.map((post: { slug: string }) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;
const { post } = Astro.props as Props;
---

<MainLayout>
  <PageHeader
    title={post.title}
    breadcrumbs={[
      { label: "Home", href: "/" },
      { label: "News", href: "/news" },
      {
        label: "Post",
        href: `/news/${slug}`,
        active: true,
      },
    ]}
    meta={[{ label: "Published", value: new Date(post.date).toDateString() }]}
  />

  {
    post.image && (
      <Container>
        <img
          transition:name={post.image}
          src={`${PUBLIC_DIRECTUS_URL}/assets/${post.image}`}
          alt={post.title}
          width={650}
          height={500}
          class="lg:float-right lg:p-10 lg:-mt-20 mx-auto"
        />
      </Container>
    )
  }

  <Container classes="my-10">
    <Markdown children={post.content} />
  </Container>

  {
    post.topics && (
      <Container>
        <h5>Topics</h5>
        <ul class="list-none my-10 p-0 m-0 flex gap-2">
          {post.topics?.map((topic: string) => (
            <li>
              <a class="nc-tag nc-link nc-focus">{topic}</a>
            </li>
          ))}
        </ul>
      </Container>
    )
  }
</MainLayout>
