---
import Field from "../../components/ui/form/Field.astro";
export const prerender = false;

import { actions, isInputError } from "astro:actions";
import AccountLayout from "@layouts/AccountLayout.astro";
import { PUBLIC_TURNSTILE_SITE_KEY } from "astro:env/client";
import TurnstileWidget from "@ui/TurnstileWidget.astro";
import Alert from "../../components/ui/Alert.astro";

const result = Astro.getActionResult(actions.auth.registerUser);

const registrationSuccessful = result && result.data?.success;
const registrationFailed = result && !result.error && !result.data?.success;

if (registrationSuccessful) {
  return Astro.redirect("/account/check-email");
}

const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---

<AccountLayout header="Membership Form">
  {
    registrationFailed && (
      <Alert
        errors={[
          "Registration is currently closed due to maintenance. Sorry for the inconvenience.",
        ]}
      />
    )
  }

  <form class="form" method="POST" action={actions.auth.registerUser}>
    <TurnstileWidget siteKey={PUBLIC_TURNSTILE_SITE_KEY} />

    <div class="flex flex-col md:flex-row gap-4">
      <Field
        label="First Name"
        name="first_name"
        errors={inputErrors}
        type="text"
        required={true}
        autofocus={true}
        placeholder="Jane"
        autocomplete="first_name"
      />
      <Field
        label="Last Name"
        name="last_name"
        errors={inputErrors}
        type="text"
        required={true}
        placeholder="Smith"
        autocomplete="last_name"
      />
    </div>

    <Field
      label="Email"
      name="email"
      errors={inputErrors}
      type="email"
      required={true}
      placeholder="someone@example.com"
      autocomplete="email"
    />
    <Field
      label="Password"
      name="password"
      errors={inputErrors}
      type="password"
      required={true}
      placeholder="Enter a secure password"
      autocomplete="new-password"
    />
    <Field
      label="Confirm Password"
      name="confirm_password"
      errors={inputErrors}
      type="password"
      required={true}
      placeholder="Enter the password again"
      autocomplete="new-password"
    />

    <p class="text-sm">
      By continuing, you agree to our <a href="/privacy-policy" target="_blank"
        >Privacy Policy</a
      >.
    </p>

    <button class="mt-4 button sm:max-w-fit" type="submit">Continue</button>

    {
      result?.error && (
        <pre>
          <code>{JSON.stringify(result?.error, null, 2)}</code>
        </pre>
      )
    }
  </form>

  <h4 class="mt-10">Existing users</h4>
  <ul class="my-2">
    <li>
      <a href="/account/signin" class="nc-link nc-focus text-lg"
        >Sign in with email and password</a
      >
    </li>
  </ul>
</AccountLayout>
